# The config file
#
# please rename this file from .config.example to .config
#   
# every function checks for the parameters to be set
# if it's set, it will execute, else it will silently fail

# Prowl, available here: 
# https://www.prowlapp.com/api_settings.php
export prowlApi=""

# Slack
# https://api.slack.com/apps
export SLACK_WEBHOOK=""

# NOW STOP, HAMMER
export TIME=$(date +%Y-%m-%d-%H-%M-%S)
